<h1>Tavi dokumenti</h1>

<%= form_tag(documents_path, method: :get) do %>
  <div>
    <%= label_tag 'SÄkuma datums' %>
    <%= text_field_tag 'start_date', params[:start_date] %>
  </div>

  <div>
    <%= label_tag 'Beigu datums' %>
    <%= text_field_tag 'end_date', params[:end_date] %>
  </div>

  <%= submit_tag 'Filtrs' %>
<% end %>

<div class="documents-container">
  <% @documents.each do |document| %>
    <div class="document">
      <h2><%= link_to document.title, document_path(document) %></h2>
      <p><%= document.content %></p>
      <div class="document-files">
      </div>
      <p>Izveidots: <%= document.created_at %></p>
    </div>
  <% end %>
</div>


<%= link_to 'Jauns dokuments', new_document_path %>
